{% extends 'base.html' %}

{% block title %}
    Account management
{% endblock %}

{% block content %}
    <h1>Manage account information</h1>
    <h2>Change name</h2>
    <form action="/account/" method="post">
        {% csrf_token %}
        <label for="firstname">First name:</label>
        <input type="text" name="firstname" placeholder="First name" value={{ firstname }} required>
        <br>

        <label for="lastname">Last name:</label>
        <input type="text" name="lastname" placeholder="Last name" value={{ lastname }} required>
        <br>

        <input type="submit" VALUE="Save" name="name">
    </form>
    <h2>Change password</h2>
    <form action="/account/" method="post">
        {% csrf_token %}
        <label for="oldpassword">Original password:</label>
        <input type="password" name="oldpassword" placeholder="Original password" required>
        <br>

        <label for="newpassword">New password:</label>
        <input type="password" name="newpassword" placeholder="New password" required>
        <br>

        <label for="newpwrepeat">Repeat password:</label>
        <input type="password" name="newpwrepeat" placeholder="Repeat new password" required>
        <br>

        <input type="submit" VALUE="Change password" name="password">
    </form>
    <h2><a href="/logout">Logout</a></h2>
    <h2 style="color: red">{{ message }}</h2>
{% endblock %}