<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href={% static 'css/main.css' %} rel="stylesheet">
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/practice/physics">Physics practice</a>
    <a href="/practice/economics">Economics practice</a>
    <a href="/leaderboard">Leaderboard</a>
    {# <a href="/customised">Customised practice</a> #}
    <b><a href="/account">Manage account</a></b>
</div>
{% block content %}
{% endblock %}

</body>
</html>