{% extends 'base.html' %}

{% block title %}
    Leaderboard
{% endblock %}

{% block content %}
    <h2>Most questions solved:</h2>
    <ol>
    {% for name, count in top10ovr %}
        <li>{{ name }}, {{ count }} question(s) solved</li>
    {% endfor %}
    </ol>
    <h2>Most physics questions solved:</h2>
    <ol>
    {% for name, count in top10phys %}
        <li>{{ name }}, {{ count }} question(s) solved</li>
    {% endfor %}
    </ol>
    <h2>Most economics questions solved:</h2>
    <ol>
    {% for name, count in top10econ %}
        <li>{{ name }}, {{ count }} question(s) solved</li>
    {% endfor %}
    </ol>
{% endblock %}