{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h1>Register new account</h1>

    <h3>{{ message }}</h3>

    <form action="/register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" required>
        <label style="color: red">*cannot be changed later</label>
        <br>

        <label for="firstname">First name:</label>
        <input type="text" name="firstname" placeholder="First name" required>
        <br>

        <label for="lastname">Last name:</label>
        <input type="text" name="lastname" placeholder="Last name" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" required>
        <br>

        <label for="pwrepeat">Repeat password:</label>
        <input type="password" name="pwrepeat" placeholder="Repeat password" required>
        <br>

        <input type="submit" VALUE="Register">
    </form>
{% endblock %}